<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBRCVzCNbGWiHAqEtCZqsC6WITiKBS1pI</string>
	<key>GCM_SENDER_ID</key>
	<string>930921923522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jamanacanal</string>
	<key>PROJECT_ID</key>
	<string>jamanacanal</string>
	<key>STORAGE_BUCKET</key>
	<string>jamanacanal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930921923522:ios:a816e65c9a1ef83edd0c5b</string>
</dict>
</plist>